:root {
	--primary-color: #7f56d9;
	--white-color: #ffffff;
	--grey-color: #d0d5dd;
	--background-color: #f9fafb;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--background-color);
}

.container {
	padding: 0px 80px;
}

.footer__info {
	display: flex;
}

.footer__info__link-container {
	display: grid;
	margin-left: auto;
	grid-template-columns: repeat(5, 1fr);
}

.footer__info__link--title {
	font-weight: bold;
}

.footer__social {
	display: flex;
}

.footer__social-icons {
	margin-left: auto;
}
